@mixin small-bp{
     @media(min-width: map-get($breakpoints, small )){
       @content;
    }
}
@mixin medium-bp{
     @media(min-width: map-get($breakpoints, medium )){
       @content;
    }
}
@mixin large-bp{
    @media(min-width: map-get($breakpoints, large )){
        @content;
    }
}
@mixin xlarge-bp{
    @media(min-width: map-get($breakpoints, xlarge )){
        @content;
    }
}
